themes {
  magi-256 {
    fg 7
    bg 8
    red 1
    green 2
    yellow 3
    blue 4
    magenta 13
    orange 202
    cyan 6
    black 0
    white 15
  }
  magi-hex {
    fg "#b0b0b0"
    bg "#484848"
    red "#a00010"
    green "#409820"
    yellow "#f0f0a0"
    blue "#5090c8"
    magenta "#b040a0"
    orange "#f06800"
    cyan "#60f0a0"
    black "#000000"
    white "#e8e8e8"
  }
}